<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74437121-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-74437121-1');
  </script>

  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />
  <link rel="shortcut icon" href="/favicon.ico">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <title> {{ page.title }} </title>
</head>

<body>
  <header>
    <div class="inner">
      <h1> {{ site.name }} </h1>
      <h2>Some blatherings by Keith Ball</h2>
      <a target="_new" href="https://github.com/keithballdotnet" class="button"><small>View my projects on</small> GitHub</a>
    </div>
  </header>

  <div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">

        {{ content }}

      </section>

      <aside id="sidebar">
        <h1>About Me</h1> I'm a software engineer that loves playing in the cloud. I've mostly worked on full stack security focused software.
        <h2>Contact</h2>
        <img src="/images/twitter.png" width="29" height="20" style="display:inline-block;vertical-align:middle"> <a target="_new" href="https://twitter.com/keithballdotnet">@keithballdotnet</a> on Twitter

        <br/>
        <br/>

        <h2>Shameless</h2>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Default -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9402662046461172" data-ad-slot="6873924845" data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

      </aside>
    </div>
  </div>

  {% unless page.no_footer %}
  <footer>
    <p>
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US" class="cc"><img src="/images/cc-cc.png" class="cc">
        <img src="/images/cc-by.png" class="cc"></a>
      This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons License</a>
    </p>
  </footer>
  {% endunless %}

</body>

</html>
